<!----Authors: Emily Shepherd and Christian Paget-->
    <header class="primary-header container">
        <div class="row">
          <div class="col-10"> 
            <nav class="nav primary-nav">   
              <ul>
                <li><a routerLink="/homepage" routerLinkActive="active">Home</a></li>
		            <li><a routerLink="/new-playlist-form" routerLinkActive="active">Playlists</a></li>
                <li><a routerLink="/help" routerLinkActive="inactive">Help</a></li>
                <li><a routerLink="/contactUs" routerLinkActive="inactive">Contact Us</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Log In</a></li>
              </ul>
            </nav>
          </div>
        </div>  
      </header>

<body>
      <router-outlet></router-outlet>
</body>
