
    <header class="primary-header container">
        <div class="row">
        
          
          <!-- id attribute points to format specified in fadeshow id selector, to hide nav when screen is narrow
               Note: business logic should be taken into account when deciding whether to hide a portion of screen
               (design decision must be made) -->
          <div class="col-10" id="fadeshow"> 
            
            <!-- class attribute points to nav and primary-nav selectors, 
                 notice we use primary-nav in addition to nav to create the top menu-like navigation (compared with the footer nav) -->
            <nav class="nav primary-nav">   
              <ul>
                <li><a routerLink="/homepage" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/new-playlist-form" routerLinkActive="active">Playlists</a></li>
                <li><a routerLink="/help" routerLinkActive="inactive">Help</a></li>
                <li><a routerLink="/contactUs" routerLinkActive="inactive">Contact Us</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Log In</a></li>
              </ul>
            </nav>
          </div>
        </div>  
      </header>

<body style="background-color:white;">
      <router-outlet></router-outlet>
</body>
