
<body>
    <div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>
  
    <div>
            <h2>
                See what everyone is listening to!
            </h2>
        
    </div>
  
    <div>
        <li>
            <h3>
                OR
            </h3>
        </li>
    </div>
  
    <div>
        <li>
            <button type="button" style = 'background-color: #1DB954' onclick="alert('test')"><h4>Make Your Own Study Break</h4></button>
        </li>
    </div>
  </body>
  
    