<!----Authors: Emily Shepherd-->

<body>
    <div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div style="text-align:center">
      <img src="../favicon.ico" alt="Spotify Logo" height = 20% width = 20% class="center">
    </div>
    <div style="text-align:center">
      <h2>
        {{ message }}
      </h2>
    </div>
    <div style="text-align:center">
        <button type="button" style = 'background-color: #1DB954' onclick="alert('test')"><h3>Spotify Log In</h3></button>
    </div>
    </body>
  
  