<!----Authors: Emily Shepherd-->

<body>
    <div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    </div>
    <div style="text-align:center">
      <img src="../favicon.ico" alt="Spotify Logo" height = 20% width = 20% class="center">
    </div>
    <div style="text-align:center">
      <h2>
        {{ message }}
      </h2>
    </div>
    <div style="text-align:center">
      <form action="<?php $_SERVER['PHP_SELF'] ?>" method="post">
        Username: <input type="text" name="username" class="form-control" autofocus required /> <br/>
        Password: <input type="password" name="pwd" class="form-control" required /> <br/>
        <input type="submit" value="Sign in" class="btn btn-light"  />   
      </form>
    </div>
    
    </body>
  
  