<!----Authors: Emily Shepherd and Christian Paget-->
    <header class="primary-header container">
        <div class="row">
          <div class="col-10"> 
            <nav class="nav primary-nav">   
              <ul>
                <li><a routerLink="/homepage" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/spotify-player" routerLinkActive="active">Listen</a></li>
		            <li><a routerLink="/new-playlist-form" routerLinkActive="active">Create a Playlist</a></li>
                <li><a routerLink="/user_home" routerLinkActive="active">My Playlists</a></li>
                <ng-container *ngIf = "logged_in == null">
                  <li><a routerLink="/login" routerLinkActive="active">Log In</a></li>
                  <li><a routerLink="/createUser" routerLinkActive="active">Create Account</a></li>
                </ng-container>
                <ng-container *ngIf = "logged_in !== null">
                  <li><a routerLink="/logout" routerLinkActive="active">Log Out</a></li>
                </ng-container>
              </ul>
            </nav>
          </div>
        </div>  
      </header>

<body>
      <router-outlet></router-outlet>
</body>
