/* You can add global styles to this file, and also import other style files */
/*Authors: Emily Shepherd and Christian Paget*/

body {
    background-color: #141414;
    font-family: 'proxima-nova', sans-serif;
    color: white ;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
