/* You can add global styles to this file, and also import other style files */
/*html {background-color: grey}*/

body {
    background-color: grey;
    font-family: 'proxima-nova', sans-serif;
    color: black;

}