/*Authors: Christian Paget and Emily Shepherd*/

.inline-button div{
	display: inline-block;
	width: 500px;
	min-height: 50px;
	height: auto;
	/*background-color: #D3D3D3;
*/
}
.alert{
	color: red;
}
.bodybg-color {
	background-color: grey;
}

.PlaylistForm {
	padding-left: 5%
}

::placeholder {
	color: white;
}